# Docker ignoring virtualenv
env/
venv/
ENV/
env.bak/
venv.bak/

# ignoring github workflows
.git
.github/

# Editor Settings
.vscode/
.idea/
.pytest_cache/

# Distribution and packaging
*.tmp
*.egg-info
build/
dist/

# results from local
tests/results/*
tests/__pycache__
tests/.DS_Store